<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>INSTAR | SIGNUP</title>
    <link rel="stylesheet" href="../../static/css/public/public.css">
    <link rel="stylesheet" href="../../static/css/user/signup.css">
</head>
<body>
<main>
    <section class="login-section">
        <img src="../../static/images/logo/Instagram.png" alt="insta-logo">
        <h2>KOREA IT의 사진과 동영상을 보려면 <br> 가입하세요</h2>
        <form id="login-form" th:action="@{/user/signup}" method="post">
            <label>
                <input type="email" name="email" placeholder="이메일">
            </label>
            <label>
                <input type="text" placeholder="인증번호 입력">
            </label>
            <label>
                <input id="email-auth-btn" type="button" value="이메일 발송">
            </label>
            <label>
                <input type="text" name="name" placeholder="이름">
            </label>
            <label>
                <input type="text" name="nickname" placeholder="사용자 닉네임">
            </label>
            <label>
                <input type="password" name="password" placeholder="비밀번호">
            </label>

            <button type="submit">회원가입</button>
        </form>

    </section>
    <section class="no-account-section">
        <span>계정이 있으신가요?</span>
        <a href="#">로그인</a>
    </section>
</main>
</body>
</html>